<!-- your html code here -->
<div class="container border-top pt-5">
    <h2><strong>Contact</strong></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt quia numquam et odio expedita laborum dolorum
        aspernatur, voluptas aliquid? Harum voluptate qui quisquam fuga sunt consequuntur asperiores minima accusamus
        aspernatur.</p>


    <form class="w-50 mx-auto p-3 bg-light rounded-1 git">
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your E-mail</strong></label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your email">
            </div>
        </div>



        <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label"><strong>Your message</strong></label>
            <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
        </div>


        <div class="row">
            <div class="col-auto ms-auto">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>

    </form>

</div>