<!-- your html code here -->
<div class="container d-flex mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-9 ">

            <h1>The First Heading <b class="text-secondary">Will Catch Your Eye</b></h1>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ea dolor eligendi nam adipisci
                consequuntur
                laborum dolore quasi ipsa. Accusamus itaque laborum amet molestias voluptas nesciunt inventore dicta,
                quia
                hic?</p>

        </div>
        
        <div class="col-sm-12 col-md-3 text-center ">
            <div class="ratio ratio-1x1">

                <img src="https://imgs.search.brave.com/48hvDFFO6MylP9fTPXsgDWiXQWSy1Ek4OXK8ObOqkz8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzAzLzk0LzYwLzIx/LzM2MF9GXzM5NDYw/MjE3NF9JYVc2UG9v/OUJKbXo3eGxWNWhh/TWxkQ2lmeTlYQ09Z/TC5qcGc" 
                class="rounded-circle object-fit-cover" alt="" />
            </div>
        </div>
        
    </div>

</div>