<!-- your html code here -->
<div class="container d-flex">
    <div class="row">
        <h1>The First Heading <b class="text-secondary">Will Catch Your Eye</b></h1>
        <p class="col-lg-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ea dolor eligendi nam adipisci consequuntur
            laborum dolore quasi ipsa. Accusamus itaque laborum amet molestias voluptas nesciunt inventore dicta, quia
            hic?</p>
    </div>
    <img src="https://picsum.photos/id/280/300" class="rounded-circle" alt=""/>
</div>