<div class="container mt-4 p-0">
    <h1 class="ms-3">Portfolio</h1>
    <section class="ms-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsam quos esse sint repellendus quidem labore
        tenetur
        minima adipisci. Ipsum accusamus quae ducimus tempora corrupti excepturi reiciendis quam! Accusamus, eligendi!
    </section>

    <div class="row g-3 ms-1">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="https://picsum.photos/700/400" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolores id quisquam tempora.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="https://picsum.photos/700/400" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolores id quisquam tempora.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="https://picsum.photos/700/400" class="card-img-top img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolores id quisquam tempora.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>