<div class="container ms-3 p-0">
<h1 class="ms-1">Porfolio</h1>
<section">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis ipsam quos esse sint repellendus quidem labore tenetur
minima adipisci. Ipsum accusamus quae ducimus tempora corrupti excepturi reiciendis quam! Accusamus, eligendi!
</section>
</div>
<div class="container-fluid d-flex ms-1">
    <div class="row">
        <div class="col-4 mt-3">
            <div class="card">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsam tenetur officiis perspiciatis consequuntur voluptatem saepe iusto minima dolores. Facere aperiam dolorum reiciendis a hic architecto illo consectetur veritatis totam!</p>
                </div>
            </div>
        </div>
       <div class="col-4 mt-3">
            <div class="card">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolores id quisquam tempora, fugit et inventore nobis ipsum cupiditate nisi vero, doloremque nulla. Quasi sit assumenda pariatur ipsa perferendis!</p>
                </div>
            </div>
        </div>
        <div class="col-4 mt-3">
            <div class="card">
                <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Card title</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex cum dolores id quisquam tempora, fugit et inventore nobis ipsum cupiditate nisi vero, doloremque nulla. Quasi sit assumenda pariatur ipsa perferendis!</p>
                </div>
            </div>
        </div>
    </div>
</div>