<!-- your html code here -->
<div class="container d-flex">
    <img src="https://picsum.photos/id/220/300" class="rounded-circle me-4" alt="" />
    <div class="row">
        <h1>The Second Heading <b class="text-secondary">Its Pretty Cool too.</b></h1>
        <p class="col-lg-10">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ea dolor eligendi nam
            adipisci consequuntur
            laborum dolore quasi ipsa. Accusamus itaque laborum amet molestias voluptas nesciunt inventore dicta, quia
            hic?</p>
    </div>

</div>