<!-- your html code here -->
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12 col-md-3 text-center ">
            <div class="ratio ratio-1x1">

                <img src="https://imgs.search.brave.com/9PgQPSObgcLVDfqHZSsQkDq4FMv2w9igGdrKRsyB-vs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMud2FydGh1bmRl/ci5jb20vdXBsb2Fk/L2ltYWdlLzBfMjAy/My81X01heS9TdTI1/VC8xMjE4eDM2MF9z/dV8yNXRtXzlkZjNh/ZjNmNWY0NjU2YzIx/Njg5NWRkNTRlOGQy/N2QzLmpwZw" 
                class="rounded-circle me-4 object-fit-cover" alt="" />
            </div>
        </div>


        <div class="col-sm-12 col-md-9 ">


            <h1>The Second Heading <b class="text-secondary">Its Pretty Cool too.</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla ea dolor eligendi nam
                adipisci consequuntur
                laborum dolore quasi ipsa. Accusamus itaque laborum amet molestias voluptas nesciunt inventore dicta,
                quia
                hic?</p>

        </div>

    </div>

</div>